<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <title>daLove | Detail</title>
</head>
<body>
    <header>
    <%- include('partials/header'); %>
</header>
<main>
    <h1>Welkom, <%= data[0].firstname %> !</h1>

    <div>
    <form action="detail" method="POST">
        <fieldset>
            <legend>Contactgegevens</legend>

            <!-- gebruikers naam -->
            <label for="fname">Voornaam </label>
            <input type="text" name="firstname" placeholder="Je naam" maxlength="15" required>

            <!-- gebuikers leeftijd -->
            <label for="age">age</label>
            <input type="text" name="age" placeholder="Je leeftijd" maxlength="3" required>

            <!-- username -->
            <label for="user">Username </label>
            <input type="text" name="id" placeholder="Je gebruikersnaam" maxlength="15" required>

            <!-- gebuikers omschrijving -->
            <label for="desc">Info over jezelf</label>
            <textarea name="description" placeholder="Type iets.." required></textarea>

            
        <fieldset>

            <!-- sumbit button -->
            <input type="submit" value="toevoegen">
    </form>
</div>


<div>
    <h3>hier komen de aangemaakte gebruikers</h3>

    <% for (var i = 0; i< data.length; i++){ %>
        <h4>
            <%= data[i].firstname %>
        </h4>
        <p> <%= data[i].id %></p>
        <p>
            <%= data[i].age %>
        </p>
        <p>
            <%= data[i].description %>
        </p>

        </p>

       <% } %>
 
</div>


</main>
<footer></footer>
</body>
<script src="index.js"></script>
</html>